body {
	background-image: url(nyc.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:cover;
}
.user_name{
	width: 183px;
}
.Email_pass{
	width:385px;
}
.user_name::-webkit-input-placeholder{
	font-size: 18px;
}
input[class="user_name"]{
   font-size: 18px;
   font-family: sans-serif;
}
input[class="Email_pass"]{
   font-size: 18px;
   font-family: sans-serif;
}
h1, h4{
	color:white;
}