<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
       <div class="wrap-around">
            <div class="form-group">
           <%= f.text_field :email,:placeholder=> " Email", :class => "form-control" %>
            </div>
            <div class="form-group">
                <%= f.password_field :password, :placeholder=> " Password", :class => "form-control"%>
            </div>
            <%= f.submit "Log in" , :class=> 'btn btn-primary', :style => "background-color: #FF9900;" %>
        </div>
<% end %>