.navbar{
background-color:#3299CC;
}
#linkcolor{
color:#FFFFFF;
}

#linkcolor:hover{
color:#FF9900;
}
.link-hover-color{
color:#FFFFFF; 
text-decoration:none;
background-color:transparent;
}
.link-hover-color:hover{
background-color:transparent;
color:#FF9900;
text-decoration:none;

}
.jumbotron{
margin-top:-30px;
}

#navbar{
height:70px;
}
.btn-success{
background-color:#FF9900;
}
.btn-success:hover {
background-color:#3299CC;
}
.new-user a{
color:#ffffff;
}


.btn-lg{
        background-color:#FF9900;
        }

.jumbotron{
background-color:#F8F8FF;
}
.dropdown{
list-style-type: none;
}
ul.dropdown-lr {
  width: 300px;
}


li:hover > ul {
                display: block;
            }
.btn-primary{
background-color:#3299CC;
}
.btn-sign-in{
background-color:#FF9900;
}
.text-of-email{
float:left;
padding-right:30px;
}
.text-of-email a{
color:#ffffff;
text-decoration:none

}
#upload-file-container {
   background: url(assets/blank.png) no-repeat;
}

#upload-file-container input {
   filter: alpha(opacity=0);
   opacity: 0;
}

